.invoice-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #e1e1e3;
    font-family: Arial, sans-serif;
}

.invoice-header {
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 2px solid #535252;
}


.invoice-header h1 {
    font-size: 24px;
    margin: 0;
    color: #333;
}

.detais-tablel,
.summary-table {
    width: 100%;
    margin-bottom: 20px;
}

.details-table th,
.details-table td,
.summary-table th,
.summary-table td {
    padding: 3px;
    text-align: left;
    font-weight: bold;
}

.details-table th {
    width: 40%;
    background-color: #e1e1e3;
    font-weight: bold;
    border: #007bff;
}

.purchase-summary h2 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    color: #070707;
}

.summary-table th {
    background-color: #4838da;
    font-weight: bold;
    text-align: center;
    color:#e1e1e3
}

.summary-table td {
    text-align: center;
    font-weight: bold;
}


.btn-print {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn-print:hover {
    background-color: #0056b3;
}
@media print {
    body {
        margin: 0;
    }
    .btn-print {
        display: none;
    }
   
    
}